{% extends "admin/base_site.html" %}

{% block content %}


<form action="" method="post">{% csrf_token %}

    <p>此设备(SN: <span style="color:red;">{{query_device.sn}}</span>)登录过的用户如下：</p>

    {% if logined_users %}
    <ul>
        {% for i in logined_users %}
            <li><a href="/admin/auth/user/?q={{i}}" target="_self">{{i}}</a></li>
        {% endfor %}
        <!--ul>{{ sn_list|unordered_list }}</ul-->
    </ul>
    {% else %}
        <ul>无任何登录记录！</ul>
    {% endif %}

    <input type="hidden" name="action" value="send_EMAIL" />
    <!--input type="submit" name="apply" value="Send Email" /-->
</form>

{% endblock %}